footer {
    width: 100%;
    /* background-color: black; */
    height: 200px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);

}

.box-footer {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
}

li {
    list-style-type: none;
}

.li1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.li2 {
    font-size: 13px;
}